body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #333;
    background: #fff;
    text-align: center;
  }
  
  /* navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  /* hero section */
  .hero {
    padding: 80px 20px;
  }
  
  .tag {
    display: inline-block;
    background: #f5f5f5;
    color: #d63384;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .hero h2 {
    color: #666;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .hero h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }
  
  .gradient-text {
    background: linear-gradient(90deg, #007bff, #ff0055);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  /* buttons */
  .buttons {
    margin: 25px 0;
  }
  
  .btn {
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    margin: 0 8px;
    cursor: pointer;
  }
  
  .primary {
    background: #007bff;
    color: #fff;
    border: none;
  }
  
  .secondary {
    background: transparent;
    border: 2px solid #ddd;
    color: #333;
  }
  
  /* profile image */
  .profile img {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    margin-top: 30px;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  
  /* about section */
  .about {
    background: #f8f9fa;
    padding: 60px 20px;
  }
  
  .about h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .about span {
    color: #7b00ff;
  }
  .about p {
    color: #666;
    max-width: 600px;
    margin: 10px auto;
    }
    
    .socials {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

    
    .socials img {
    width: 28px;
    height: 28px;
    }
    
    /* footer */
    .footer {
    background: #fff;padding: 20px 10px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }
    
    .footer p {
    margin: 5px 10px;
    color: #777;
    }
    
    .footer-links {
    display: flex;
    gap: 20